*.net
.DS_Store
:*-backups/
.idea/
*.bak
*.kicad_prl
fp-info-cache
ignored/
CNC/
Gerbers*
*.FlatPrj
~*
.~*
production/
jlcpcb/
*.zip
*-pos.csv
*.xml
flashlight.csv
_autosave*
*.csv
*.json
flashlight-job.gbrjob
